*{
    background-color: grey;
}
.container{
    text-align: center;
    padding: 10px;
}

input{
    margin: 10px;
    background-color: aliceblue;
}

button{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    background-color: aqua;
    
}